/*__________________________________________________*/
/* 1. GLOBAL *****************/
/*   i.   | root-------------*/
/*   ii . | Body-------------*/
/*   iii. | Elements---------*/
/*   iv.  | Grid-------------*/
/*   v.   | Flex-------------*/
/*   vi.  | Effects----------*/
/*   vii. | Buttons----------*/
/*___________________________________________________*/
/* 2. CLASSES  ***************/
/*   i.   | NavBar ----------*/
/*   ii.  | showcase---------*/
/*   iii. | main contents--- */
/*   vi.  | T & C ---------- */
/*   vi.  | footer --------- */
/*___________________________________________________*/
/* 3. MEDIA QUARY ************/
/*   i.   | Mini-pc ---------*/
/*   ii.  | Tablets ---------*/
/*   iii. | Mobile ----------*/
/*___________________________________________________*/

/*===================================================*/
/* Root-------------*/
:root {
  --primary-bg: #ffffff;
  --primary-color: #141414;
  --showcaseBtn: #43a761;
  --footer-bg: #e2f5f0;
  --img-shadow: #e1f4ef;
  --copyright-txt: #e1f4ef;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

/*  Elements---------*/
body {
  padding: 0;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--primary-bg);
}

section,
footer {
  width: 100%;
  padding-top: 12%;
  position: relative;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

h1 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 2rem;
}

button {
  font-weight: 800;
  padding: 7px 50px;
  border-radius: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  transform: scaleX(1.04);
}

/*-------------------------------------------------------------------
  NavBar 
  ------------------------------------------------------------------*/
.navbar {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  display: flex;
  position: sticky;
  padding: 0.5% 3%;
  color: var(--primary-color);
  justify-content: space-between;
  background-color: var(--primary-bg);
}

.menuBtn {
  display: none;
}

.logo {
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100px;
}

nav {
  margin: 0;
  padding: 4% 0 0;
}

.navUl,
.hidden {
  margin: 0;
  height: 30px;
  display: flex;
  list-style-type: none;
}

.longNav {
  width: 120px !important;
}

.longNav1 {
  width: 190px !important;
}

.navbar li {
  width: auto;
  padding: 0 1px;
  margin: 5px 1% 0;
  font-weight: bold;
  color: var(--primary-color);
}

.navbar li:hover {
  transform: scale(1.1);
}

.active {
  padding-bottom: 4px;
  border-bottom: 2px solid #0a0a57;
}

/* MAIN SECTION ************************************/

/*-----------------------------------------------------------------
Showcase
-------------------------------------------------------------------*/
.showcase {
  background: url('./assets/images/showcase_img.png') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10% 0 5% 14%;
  color: #ffffff;
  text-align: start;
  min-height: 400px;
  margin: 0;
  margin-left: 2rem;
  width: 100%;
}

.showcase h1 {
  line-height: 1.2;
  font-size: 2rem;
}

.showcase p {
  width: 35%;
  font-size: 1.6rem;
}

#showcasbtn {
  margin: 5% 0 0;
  color: var(--showcaseBtn);
  background-color: var(--primary-bg);
}

h4 {
  margin-bottom: 5%;
  overflow: hidden;
  text-align: center;
}

h4:before,
h4:after {
  margin: 0;
  width: 30%;
  content: '';
  height: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
}
/*---------------------------------------------------------------- 
Main contents props
---------------------------------------------------------------- */
.grid-content {
  gap: 20px;
  padding: 2% 7%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imgCon {
  width: 90%;
  border-radius: 5px;
  min-height: 320px;
  box-shadow: 0 0 15px 2px var(--img-shadow);
}

.txtContainer {
  margin: 0;
  width: 95%;
  padding: 0 5%;
}

.txtContainer h1,
h3 {
  margin-top: 0;
  padding: 0;
}

.txtContainer ul {
  margin-bottom: 0;
  padding: 0;
}

.txtContainer p {
  font-size: 1.2rem;
  margin: 0;
}

.grid-content ul {
  list-style-type: none;
  padding: 0;
}

.grid-content button {
  margin-top: 5%;
  color: var(--primary-bg);
  background-color: var(--primary-color);
}

/*----------------------------------------------------------------
Modal T & C
  ---------------------------------------------------------------- */
.TandCbackdrop {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  top: -180px;
  padding: 2%;
  height: 1000px;
  position: fixed;
  margin: 10% auto;
  background-color: #000000bb;
}

.TandC {
  width: 80%;
  margin: 4% auto;
  padding: 2% 3% 1%;
  font-size: 0.9rem;
  text-align: justify;
  border-radius: 5px;
  max-width: 500px !important;
  background-color: var(--primary-bg);
}

.checkbox {
  color: #11118d;
}

.TandCbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.TandCbtn button {
  border: 0;
  margin: 0;
  outline: 0;
  top: -10px;
  padding: 0;
  position: relative;
  background-color: var(--primary-bg);
}

.closeBtn button {
  background-color: var(--primary-color);
  color: var(--primary-bg);
}

/*------------------------------------------------------------------
  Footer 
  ---------------------------------------------------------------- */
footer {
  padding: 1%;
  margin-top: 20%;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--footer-bg);
}

.footer-content {
  gap: 10px;
  display: flex;
  padding: 2% 10% 2% 5%;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.footer-logo {
  width: 60%;
  height: 60px;
  max-width: 300px;
}

.footer-content p {
  width: 50%;
}

.footer-content div,
.footer-content h1 {
  text-align: start;
  padding: 0;
  margin: 0;
}

.footer-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-content li {
  margin: 1% 0;
}

.footer-content li:hover {
  transform: scaleY(1.1);
  font-weight: bold;
}

/*-------------------------------------------------------------------  
Mini-pc 
-------------------------------------------------------------------*/
@media (max-width: 950px) {
  section {
    padding-top: 20%;
  }

  .navbar {
    display: block;
    text-align: center;
  }

  .logo {
    margin: 0;
    width: 50%;
    padding: 0;
  }

  nav {
    padding: 0;
  }
  .showcase p {
    width: 55%;
    font-size: 1.2rem;
  }

  .txtContainer h1 {
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 0;
    padding: 0;
  }

  .txtContainer h3 {
    font-size: 1.2rem;
    width: 280px;
  }

  .txtContainer p {
    font-size: 1rem;
    margin: 0;
  }

  .TandCbackdrop {
    top: -80px !important;
  }
}

/*-----------------------------------------------------------------
  Tablets 
  ----------------------------------------------------------------*/
@media (max-width: 710px) {
  .navbar {
    display: flex;
  }

  .menuBtn {
    z-index: 2;
    top: -30px;
    width: 40px;
    height: 50px;
    right: -80px;
    border: none;
    outline: none;
    display: block;
    padding: 0 5px;
    font-size: 2rem;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    margin: 10% 25% 0 5%;
    background-color: inherit;
  }

  .menuBtn:hover {
    transform: scaleX(1.1);
  }

  .hidden {
    display: none;
  }
  .navUl {
    top: 0;
    right: -40px;
    margin: 0;
    width: 50%;
    display: block;
    text-align: start;
    padding: 16% 2% 2%;
    position: absolute;
    height: auto;
    background-color: var(--primary-bg);
  }

  .navbar li:hover {
    transform: scaleY(1.1);
  }

  h4:before,
  h4:after {
    margin: 0;
    width: 20%;
    height: 2px;
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #000;
  }

  .txtContainer h1,
  h3 {
    margin-top: 0;
    padding: 0;
  }

  .txtContainer ul {
    margin-bottom: 0;
    padding: 0;
  }

  .txtContainer p {
    font-size: 1.2rem;
    margin: 0;
  }
}

/*-------------------------------------------------------------------  
Mobile 
-------------------------------------------------------------------*/
@media (max-width: 570px) {
  section {
    padding-top: 20%;
  }

  .TandCbackdrop {
    top: -50px !important;
  }

  .showcase {
    margin: 0;
    height: 500px;
    padding: 20% 0 5% 8%;
  }

  .showcase h1 {
    font-size: 1.5rem;
  }

  .showcase p {
    font-size: 1.1rem;
  }

  .grid-content {
    width: 100%;
    display: grid;
    margin-bottom: 10%;
    grid-template-columns: 1fr;
  }

  .imgCon {
    width: 100%;
  }

  .footer-content {
    padding: 2% 0 2% 5%;
  }

  .footer-content p {
    width: 95%;
  }
}
